body {
  background-image: url("../public/SUNYKorea_AcBldg.jpg");
  overflow-x: hidden;
}

h2 {
  width: 100%;
  color: white;
  font-size: 32px;
}

/***********           Navbar               ***********/
.header-container {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.activeNav {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.defaultNav {
  color: #2f2f2f;
  font-weight: 450;
  font-size: 18px;
}

@supports (backdrop-filter: blur(1rem)){
  .header {
    float: right;
    max-width: 100%;
    flex: 1;
    flex-basis: 50px;
    background: hsl(0 0% 100% / 0.005);
    background-size: cover;
    backdrop-filter: blur(0.5rem);
  }
}

@media (max-width: 40em){
  .header-container {
    display: none;
  }
}

/***********         Instruction              ***********/
.instruction {
  margin: 10px 200px;
  padding: 10px 20px;
  background-color: lightBlue;
  border: 2px solid grey;
}

.instruction .textShown {
  font-family: 'Helvetica';
  font-size: 24px;
}

/***********         Login              ***********/
.LoginPage {
  margin: 10px 200px;
  padding: 10px 20px;
  background-color: #4682B4;
}

.login_title {
  font-family:'Times New Roman', Times, serif;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
}

.loginform {
  margin-bottom: 30px;
}

.LoginPage input {
  margin-left: 70px;
  border-radius: 10px;
}

.idpw {
  width: 150px;
}

#ID {
  padding-left: 30px;
}

.Loginbtn {
  display: inline-block;
  border-radius: 10px;
  background-color: aquamarine;
}

/***********         PreviousCourses              ***********/
.previousTitle h1 {
  font-weight: 500;
  font-size: 36px;
}


.coursePage {
  margin: 10px 200px;
  padding: 10px 20px;
  background-color: #4682B4;
}

.prevSecond {
  margin-bottom: 40px;
}

.courseRow {
  margin-top: 30px;
  width: 70%;
}

.courseList {
  margin-left: 30px;
  padding-right: 70px;
}

.inputContainer {
  width: 150px;
  margin-bottom: 30px;
}

.prevCourseInput {
  display: inline-block;
  width: 10px;
  margin-right: 10px;
  text-align: left;
}

.courseLabel {
  width: 60px;
}


#setCourse {
  margin-top: 60px;
  border-radius: 10px;
  background-color: aquamarine;
}

@media (max-width: 40em) {
  .coursePage {
    margin: 0 30px;
    padding: 10px;
  }

  .courseList {
    flex-direction: column;
  }

  .inputContainer {
    margin-bottom: 40px;
  }

}
/***********         SelectCourses              ***********/
.searchForm {
  margin: 0 0 0 20px;
  padding: 20px 0;
  background-color: #4682B4;
}

.formTitle {
  font-weight: 500;
  font-size: 28px;
}

.searchRow {
  margin: 30px 0 60px 20px;
}

.showCoursebtn{
  margin-left: 40px;
  border-radius: 10px;
  background-color: aquamarine;
}