body {
  background-image: url("../public/SUNYKorea_AcBldg.jpg");
  overflow-x: hidden;
}

h2 {
  width: 100%;
  color: white;
  font-size: 32px;
}

/***********           Navbar               ***********/
h1 {
  margin: 10px 60px;
}

.activeNav {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.defaultNav {
  color: #2f2f2f;
  font-weight: 450;
  font-size: 18px;
}

/***********         Instruction              ***********/
.instruction {
  margin: 10px 200px;
  padding: 10px 20px;
  background-color: lightBlue;
  border: 2px solid grey;
}

.instruction .textShown {
  font-family: 'Helvetica';
  font-size: 24px;
}

/***********         Login              ***********/
.LoginPage {
  margin: 10px 200px;
  padding: 10px 20px;
  background-color: #4682B4;
}

.login_title {
  font-family:'Times New Roman', Times, serif;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
}

.loginform {
  margin-bottom: 30px;
}

.LoginPage input {
  margin-left: 70px;
  border-radius: 10px;
}

.idpw {
  width: 150px;
}

#ID {
  padding-left: 30px;
}

.Loginbtn {
  display: inline-block;
}

/***********         PreviousCourses              ***********/